@import "../variables.scss";
.skillsList {
  margin: 0;
  display: flex;
}

@media only screen and(max-width:600px) {
    .skills{
        overflow: auto;
        ::-webkit-scrollbar{
            opacity: 0;
        }
        .skillsList{
            display: flex;
            margin-left: 40px;
        }
    }
}
