@import "../variables.scss";
.skillItem{
    padding: 10px 20px 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    color: $PrimaryColor;
    border-radius: 20px;
    font-size: 25px;
    transition: 0.4s;
    h5{
        transition: 0.3s;
    }
    &:hover{
        transition: 0.3s;
        color: $EmphasizeColor;
        h5{
            transition: 0.4s;
            transform: scale(1.1);
        }
    }
}
@media only screen and(max-width:1367px){
    .skillItem{
        width: 30%;
        padding: 10px 18px 10px 18px;
        font-size: 25px;
    }
}
@media only screen and(max-width:600px){
}