.presentation {
  padding-top: 120px;
}

.presentation .leftPresentation .letters {
  font-family: "Lato", sans-serif;
  font-size: 150px;
  color: #F2F4F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  padding: 40px;
  list-style-type: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-left: 72px;
}

.presentation .leftPresentation .letters #w {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.presentation .leftPresentation .letters #e1 {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.presentation .leftPresentation .letters #i {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.presentation .leftPresentation .letters #s1 {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.presentation .leftPresentation .letters #s2 {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.presentation .leftPresentation .letters #d {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.presentation .leftPresentation .letters #o {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.presentation .leftPresentation .letters #t {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.presentation .leftPresentation .letters #e2 {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.presentation .leftPresentation .letters #x {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.presentation .leftPresentation .letters #e3 {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.presentation .leftPresentation .letters #w:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  color: #00FFF5;
}

.presentation .leftPresentation .letters #e1:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  color: #00FFF5;
}

.presentation .leftPresentation .letters #i:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  color: #00FFF5;
}

.presentation .leftPresentation .letters #s1:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  color: #00FFF5;
}

.presentation .leftPresentation .letters #s2:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  color: #00FFF5;
}

.presentation .leftPresentation .letters #d:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  color: #00FFF5;
}

.presentation .leftPresentation .letters #o:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  color: #00FFF5;
}

.presentation .leftPresentation .letters #t:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  color: #00FFF5;
}

.presentation .leftPresentation .letters #e2:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  color: #00FFF5;
}

.presentation .leftPresentation .letters #x:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  color: #00FFF5;
}

.presentation .leftPresentation .letters #e3:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  color: #00FFF5;
}

.presentation .leftPresentation .jobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 72px;
  position: relative;
  bottom: 50px;
}

.presentation .leftPresentation .jobs #job1 {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  color: #00FFF5;
}

.presentation .leftPresentation .jobs #job2 {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  color: grey;
}

.presentation #contactBtn {
  cursor: pointer;
  background-color: transparent;
  color: #00FFF5;
  border: 4px solid #00FFF5;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-size: 50px;
  border-radius: 15px;
  padding: 10px;
  margin: 72px;
  position: relative;
  bottom: 80px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.presentation #contactBtn:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: black;
  color: linear-gradient(307.04deg, #F12929 -13.77%, #B0202F -9.4%, #861B33 -6.66%, #5A1537 5.69%, #2D0F3C 23.36%, #0F0B3F 35.72%, #0B082F 49.06%, #000000 112.03%);
}

.presentation .rightPresentation #image {
  position: absolute;
  right: 57px;
  top: 250px;
  width: 550px;
  height: 550px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media only screen and (max-width: 1367px) {
  .presentation {
    border: 0;
    margin: 0;
    margin-top: 30px;
  }
  .presentation .leftPresentation .letters {
    font-size: 85px;
    padding-top: 0;
  }
  .presentation .leftPresentation .jobs {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .presentation .leftPresentation .jobs #job1 {
    font-size: 25px;
  }
  .presentation .leftPresentation .jobs #job2 {
    font-size: 25px;
  }
  .presentation #contactBtn {
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 0;
  }
  .presentation .rightPresentation {
    padding: 0;
  }
  .presentation .rightPresentation #image {
    top: 125px;
    width: 380px;
    height: 380px;
  }
}

@media only screen and (max-width: 600px) {
  .presentation {
    max-width: 100%;
  }
  .presentation .leftPresentation {
    margin: auto;
    margin-top: -17px;
  }
  .presentation .leftPresentation .letters {
    font-size: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
  }
  .presentation .leftPresentation .jobs {
    margin-top: 30px;
  }
  .presentation .leftPresentation .jobs #job1 {
    font-size: 23px;
  }
  .presentation .leftPresentation .jobs #job2 {
    font-size: 23px;
  }
  .presentation .leftPresentation #contactBtn {
    position: absolute;
    bottom: 0%;
    margin: 0px 0px 60px 0px;
    padding: 8px;
    width: 100%;
  }
  .presentation .rightPresentation {
    position: relative;
    margin-top: 20px;
  }
  .presentation .rightPresentation #image {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 67%;
  }
}
/*# sourceMappingURL=Home.module.css.map */