.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home #titlePhone {
  position: absolute;
  opacity: 0;
}

.home #navbarLogo {
  width: 120px;
  height: 160px;
  position: absolute;
  bottom: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.home .blankSpace {
  width: 80px;
  height: 100vh;
  background-color: transparent;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home .leftSide {
  width: 50%;
  height: 100vh;
  background-color: black;
}

.home .leftSide #aboutTxt {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  left: 0;
  top: 45%;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  color: #F2F4F7;
  font-size: 45px;
}

.home .leftSide #leftImage {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 15rem;
  height: 18rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -7.53rem;
  border-radius: 100% 0% 0% 100%;
  filter: brightness(85%);
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(60%);
}

.home .rightSide {
  width: 50%;
  height: 100vh;
  background-color: #F2F4F7;
}

.home .rightSide #portofolioTxt {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  right: 0;
  top: 45%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: black;
  font-size: 45px;
}

.home .rightSide #rightImage {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 15rem;
  height: 18rem;
  margin-left: 7.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0% 100% 100% 0%;
  filter: brightness(85%);
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
}

.home .leftSide:hover #aboutTxt {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-left: 30px;
  color: #009AFF;
  font-size: 55px;
}

.home .leftSide:hover #leftImage {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 23rem;
  margin-left: -11.5rem;
  border-radius: 30% 0% 0% 30%;
  filter: brightness(110%);
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.home .rightSide:hover #portofolioTxt {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-right: 30px;
  color: #009AFF;
  font-size: 55px;
}

.home .rightSide:hover #rightImage {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 23rem;
  margin-left: 11.5rem;
  border-radius: 0% 30% 30% 0%;
  filter: brightness(110%);
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

@media only screen and (min-width: 1400px) {
  .home .leftSide #leftImage {
    height: 28rem;
    width: 20rem;
    margin-left: -10rem;
  }
  .home .rightSide #rightImage {
    margin-left: 10rem;
    height: 28rem;
    width: 20rem;
  }
}

@media only screen and (max-width: 600px) {
  .home #titlePhone {
    position: absolute;
    z-index: 4;
    color: #F2F4F7;
  }
  .home .leftSide {
    width: 50%;
  }
  .home .leftSide #aboutTxt {
    font-size: 32px;
    z-index: 3;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-top: 10rem;
    padding-left: 15px;
  }
  .home .leftSide #leftImage {
    height: 15rem;
    width: 11rem;
    margin: 0;
    margin-left: -5rem;
    -webkit-filter: brightness(65%);
            filter: brightness(65%);
  }
  .home .rightSide {
    background-color: black;
    width: 50%;
    margin: 0;
  }
  .home .rightSide #portofolioTxt {
    color: #F2F4F7;
    font-size: 32px;
    z-index: 3;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-top: 10rem;
    padding-right: 15px;
  }
  .home .rightSide #rightImage {
    margin-left: 5.4rem;
    height: 15rem;
    width: 11rem;
    -webkit-filter: brightness(70%);
            filter: brightness(70%);
  }
}
/*# sourceMappingURL=Home.module.css.map */