@import "../variables.scss";


.home{
  display: flex;
  flex-direction: row;
  #titlePhone{
    position: absolute;
    opacity: 0;
  }
  #navbarLogo{
    width: 120px;
    height: 160px;
    position: absolute;
    bottom: 90%;
    left:50%;
    transform:translate(-50%,-50%);
    object-fit: cover;
  }
  .blankSpace{
    width: 80px;
    height: 100vh;
    background-color: transparent;
    z-index: 3;
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .leftSide{
    width: 50%;
    height: 100vh;
    background-color: black;
    #aboutTxt{
      transition: 0.4s;
      position: absolute;
      left: 0;
      top:45%;
      transform: rotate(270deg);
      color: $PrimaryColor;
      font-size: 45px;
    }
    #leftImage{
      transition: 0.4s;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 15rem;
      height: 18rem;
      object-fit:cover;
      margin-left: -7.53rem;
      border-radius: 100% 0% 0% 100%;
      filter: brightness(85%);
    }
  }
  .rightSide{
    width: 50%;
    height: 100vh;
    background-color: $PrimaryColor;
    #portofolioTxt{
      transition: 0.4s;
      position: absolute;
      right: 0;
      top:45%;
      transform: rotate(90deg);
      color: black;
      font-size: 45px;
    }
    #rightImage{
      transition: 0.4s;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 15rem;
      height: 18rem;
      margin-left: 7.5rem;
      object-fit:cover;
      border-radius: 0% 100% 100% 0%;
      filter: brightness(85%);
    }
  }

  //hover effects
  .leftSide:hover{
    #aboutTxt{
      transition: 0.4s;
      margin-left: 30px;
      color: $EmphasizeColor;
    }
    #leftImage{
      transition: 0.4s;
      width: 23rem;
      margin-left: -11.5rem;
      border-radius: 30% 0% 0% 30%;
      filter: brightness(110%);
    }
  }
  .rightSide:hover{
    #portofolioTxt{
      transition: 0.4s;
      margin-right:30px;
      color: $EmphasizeColor;
    }
    #rightImage{
      transition: 0.4s;
      width: 23rem;
      margin-left: 11.5rem;
      border-radius: 0% 30% 30% 0%;
      filter: brightness(110%);
    }
  }
}

//media for 1080p and higher
@media only screen and(min-width:1400px){
  .home{
    .leftSide{
      #leftImage{
        height: 28rem;
      }
    }.rightSide{
      #rightImage{
        height: 28rem;
      }
    }
  }
}

@media only screen and(max-width:600px){
  .home{
    #titlePhone{
      position: absolute;
      z-index: 4;
      color: $PrimaryColor;
    }
    .leftSide{
      width: 50%;
      #aboutTxt{
        font-size: 32px;
        z-index: 3;
        transform: rotate(0deg);
        margin-top: 10rem;
        padding-left: 15px;
      }
      #leftImage{
        height: 15rem;
        width: 11rem;
        margin: 0;
        margin-left: -5rem;
        filter: brightness(65%);
      }
    }
    .rightSide{
      background-color: black;
      width: 50%;
      margin: 0;
      #portofolioTxt{
        color: $PrimaryColor;
        font-size:32px;
        z-index: 3;
        transform: rotate(0deg);
        margin-top: 10rem;
        padding-right: 15px;
      }
      #rightImage{
        margin-left:5.4rem;
        height: 15rem;
        width: 11rem;
        filter: brightness(70%);
      }
    }
  }
}